
body {
	font-family: monospace;
}

/*--------------------------------------------------------------------------------*/

#header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: calc(100% - 340px);
	height: 240px;
	padding: 10px;
	box-sizing: border-box;
}

/*--------------------------------------------------------------------------------*/

#source, #prediction {
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	width: calc(50% - 5px);
	word-wrap: break-word;
	overflow: auto;
	display: inline-block;
}


#source {
	margin-right: 10px;
}

/*--------------------------------------------------------------------------------*/

textarea {
	border: none;
	resize: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
}

#resultsContainer {
	position: absolute;
	left: 0px;
	top: 240px;
	bottom: 120px;
	width: calc(100% - 340px);
	box-sizing: border-box;
	padding: 0px 10px;
	white-space: nowrap;
}

#resultsContainer #results {
	border: 1px solid #ccc;
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: auto;
}

#resultsContainer.error #results {
	height: calc(100% - 80px);
}

#errorMessage {
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
	padding: 20px;
	height: 70px;
	background-color: #ff6666;
	color: #fff;
	font-weight: bold;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: opacity 100ms linear;
}

#resultsContainer.error #errorMessage {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------------------------*/

#sidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 340px;
	height: 100%;
	padding: 10px 10px 10px 0px;
	box-sizing: border-box;
}

#inlineControls {
	height: 184px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#changeInput {
	color: #444;
	padding: 8px 14px;
	margin-bottom: 6px;
	cursor: pointer;
	text-align: center;
	background-color: #eee;
	transition: background-color 100ms linear;
	height: 30px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

#changeInput:hover {
	background-color: #d4d4d4;
}

#values {
	height: calc(100% - 229px);
	border: 1px solid #ccc;	
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
}

/*--------------------------------------------------------------------------------*/

#footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: calc(100% - 340px);
	height: 120px;
	box-sizing: border-box;
	padding: 10px;
}

#footer #query {
	height: 100%;
	width: 100%;
	transition: border-color 200ms linear;
}

#query.error {
	border-color: #f55;
}

/*--------------------------------------------------------------------------------*/

#controls {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	color: #222;
}

#controls.disabled {
	cursor: wait;
}

#controls.disabled .controlOption {
	opacity: .5;
}

.controlOption {
	width: 330px;
	margin: 20px auto;
}

.controlOption input, textarea {
	width: 330px;
	border-radius: 0px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 8px;
	display: block;
	margin: 2px 0px;
	box-sizing: border-box;
}

.controlOption textarea {
	height: 200px;
}

.disabled input, textarea {
	cursor: wait;
}

.controlButton {
	width: 330px;
	height: 30px;
	text-align: center;
	padding: 6px;
	background-color: #eee;
	color: #333;
	cursor: pointer;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

.controlButton:hover {
	background-color: #d4d4d4;
}

.disabled .controlButton {
	cursor: wait;
	opacity: .5;
}

.disabled .controlButton:hover {
	background-color: #eee;
}

#returnVis {
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: 18px;
}

#runInput {
	margin: 25px auto;
}

#controlError {
	margin: 0px auto;
	width: 330px;
	background-color: #ff6666;
	color: #fff;
	font-weight: bold;
	padding: 24px 16px;
	box-sizing: border-box;
}

/*--------------------------------------------------------------------------------*/

.sentence {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}

.sentenceName {
	background-color: #f4f4f4;
	color: #777;
	padding: 6px;
	width: 56px;
}

.sentence .tokenContainer {
	display: inline-block;
}

.sentence .token {
	display: inline-block;
}

.sentence .itemName {
	display: none;
}

.sentence .tokenWord {
	display: none;
	padding: 5px;
}

.sentence .tokenString {
	display: inline-block;
	padding: 5px;
}

/*--------------------------------------------------------------------------------*/

.activation {
	margin: 2px;
	display: inline-block;
	cursor: pointer;
}

.actValue {
	border: 1px solid #ccc;
	text-align: right;
	padding: 0px 6px;
	height: 20px;
	line-height: 20px;
	color: rgba(0, 0, 0, .2);
	width: 50px;
	display: inline-block;
}

.actText {
	padding: 0px 6px 0px 6px;
	color: #aaa;
}

.activation .wordContainer {
	display: inline-block;
}

.activation .word {
	padding: 2px;
	border: none;
}

.activation .itemName {
	display: none;
}

/*--------------------------------------------------------------------------------*/

.neuron {
	margin: 2px;
	overflow: visible;
	border: 1px solid #eee;
	display: inline-block;
	cursor: pointer;
}

.neuronInfo {
	padding: 6px 6px 6px 2px;
	font-size: 11px;
	min-width: 35px;
	display: inline-block;
	text-align: right;
}

/*--------------------------------------------------------------------------------*/

.token {
	cursor: pointer;
	margin: 2px -1px 2px 0px;
	border: 1px solid #eee;
	cursor: pointer;
	display: inline-block;
}

.token .itemName {
	margin: 0px;
}

.tokenString {
	display: none;
}

.token .wordContainer {
	display: inline-block;
}

.token .word {
	display: inline-block;
	padding: 6px;
	border: none;
	margin: 0px;
}

.token .word .itemName {
	display: none;
}

/*--------------------------------------------------------------------------------*/

.word {
	margin: 2px;
	cursor: pointer;
	border: 1px solid #eee;
	padding: 0px 6px 0px 0px;
	display: inline-block;
}

/*--------------------------------------------------------------------------------*/

.itemName {
	background-color: #f4f4f4;
	color: #999;
	padding: 6px;
	margin: 0px 6px 0px 0px;
	display: inline-block;
	width: 56px;
	text-align: center;
}