
body {
	font-family: monospace;
}

textarea {
	border: none;
	resize: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
}

#header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: calc(100% - 300px);
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
}

#header textarea {
	height: 100%;
	width: calc(50% - 5px);
}

#source {
	margin-right: 10px;
}

#resultsContainer {
	position: absolute;
	left: 0px;
	top: 150px;
	bottom: 80px;
	width: calc(100% - 300px);
	box-sizing: border-box;
	padding: 0px 10px;
}

#resultsContainer #results {
	border: 1px solid #ccc;
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: auto;
}

#resultsContainer.error #results {
	height: calc(100% - 80px);
}

#errorMessage {
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
	padding: 20px;
	height: 70px;
	background-color: #ff6666;
	color: #fff;
	font-weight: bold;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: opacity 100ms linear;
}

#resultsContainer.error #errorMessage {
	visibility: visible;
	opacity: 1;
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
	height: 100%;
	padding: 11px 10px 10px 0px;
	box-sizing: border-box;
}

#valueSelection {
	height: 130px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#values {
	height: calc(100% - 284px);
	border: 1px solid #ccc;	
	margin-top: 9px;
}

#controls {
	height: 130px;
	position: absolute;
	bottom: 9px;
	right: 10px;
	left: 0px;
	border: 1px solid #ccc;
}

#footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: calc(100% - 300px);
	height: 80px;
	box-sizing: border-box;
	padding: 10px;
}

#footer #query {
	height: 100%;
	width: 100%;
	transition: border-color 200ms linear;
}

#query.error {
	border-color: #f55;
}

.token {
	cursor: pointer;
	display: inline-block;
	border: 1px solid #eee;
	padding: 2px;
	margin: 2px;
}

.token .type {
	padding-left: 4px;
}

.activation {
	text-align: right;
	margin: 2px;
	padding: 2px;
	color: rgba(0, 0, 0, .2);
}

.neuron {
	border: 1px solid #eee;
	margin: 2px;	
}

.neuron span {
	padding: 6px;
	font-size: 11px;
	width: 40px;
	display: inline-block;
	text-align: right;
}

.neuron .activation {
	display: inline-block;
	margin: 1px;
	padding: 4px;
	width: 50px;
}